@model CarManiacs.WebClient.Models.ProjectDetailsViewModel

<div class="container body-content project-details">
    <h2 class="inline-block">@Model.Title</h2>
    @if (Model.IsUserAllowedToEdit)
    {
        @Html.ActionLink("Edit", "Edit", "Projects", new { id = Model.Id }, new { @class = "button alt" })
    }
    else
    {
        @*@Html.AjaxLink(" ", "Star", "Projects", new { id = Model.Id }, new { @class = "icon fa-star-o"})*@
    }
    <br />

    <img class="avatar" src="@Model.ImageUrl" />

    @if (Model.IsUserAllowedToEdit)
    {
        @section Styles {
            <link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.common-nova.min.css" rel="stylesheet" type="text/css" />
            <link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
            <link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
            <link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.nova.min.css" rel="stylesheet" type="text/css" />
            <link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.dataviz.nova.min.css" rel="stylesheet" type="text/css" />
        }
        <script src="https://kendo.cdn.telerik.com/2017.1.223/js/jquery.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.all.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.aspnetmvc.min.js"></script>

        <div class="k-content upload">
            <h4>You can change your project image</h4>
            @(Html.Kendo().Upload()
                .Name("image")
                .Async(a => a
                    .Save("Image", "Upload", new { uploadFor = "project", id = Model.Id })
                    .AutoUpload(true)
                )
                .Validation(v => v.AllowedExtensions(new string[] { ".jpg", ".jpeg", ".png" }))
                .Validation(v => v.MaxFileSize(5 * 1024 * 1024))
                .Multiple(false)
                .Events(e => e
                    .Success("onImageUploadSuccess")
                    .Error("onImageUploadError")
                ))
            <div id="upload-hint">
                You can only upload <strong>JPG</strong>, <strong>JPEG</strong>, <strong>PNG</strong> files.
                Maximum file size is 4MB.
            </div>
        </div>
        <br />
    }

    <div class="project-info">
        @if (Model.Description != null)
        {
            <div>
                <h3>@Html.LabelFor(m => m.Description)</h3>
                <p class="description">@Html.DisplayFor(m => m.Description)</p>
            </div>
        }
        <div>
            @Html.LabelFor(m => m.UserFullName, new { @class = "inline-block" })
            @Html.ActionLink(Model.UserFullName, "Details", "Profile", new { id = Model.UserId }, new { })
        </div>
    </div>
</div>

<script src="~/Scripts/my-scripts/kendoUploadEvents.js"></script>