@model CarManiacs.WebClient.Models.StoryDetailsViewModel
@{
    ViewBag.Title = Model.Title;
}

<div class="container body-content project-details">
    <h2 class="inline-block">@Model.Title</h2>
    @if (Model.IsUserAllowedToEdit)
    {
        @Html.ActionLink("Edit", "Edit", "Stories", new { id = Model.Id }, new { @class = "button alt" })
        @:&nbsp;<label class="icon fa-star inline-block"> @Model.NumberOfStars</label>
    }
    else
    {
        @Ajax.ActionLink(" " + Model.NumberOfStars.ToString(), "StarOrUnstar", new { id = Model.Id },
            new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "star-link",
                OnComplete = "onAjaxComplete"
            },
            new { @class = "icon " + Model.StarLinkClass, id = "star-link" })
    }
    <br />

    <img class="avatar" src="@Model.MainImageUrl" />

    @if (Model.IsUserAllowedToEdit)
    {
        @section Styles {
            <link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.common-nova.min.css" rel="stylesheet" type="text/css" />
            <link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
            <link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
            <link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.nova.min.css" rel="stylesheet" type="text/css" />
            <link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.dataviz.nova.min.css" rel="stylesheet" type="text/css" />
        }
        <script src="https://kendo.cdn.telerik.com/2017.1.223/js/jquery.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.all.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.aspnetmvc.min.js"></script>

        <div class="k-content upload">
            <h4>You can change your story's main image</h4>
            @(Html.Kendo().Upload()
                .Name("image")
                .Async(a => a
                    .Save("Image", "Upload", new { uploadFor = "story", id = Model.Id })
                    .AutoUpload(true)
                )
                .Validation(v => v.AllowedExtensions(new string[] { ".jpg", ".jpeg", ".png" }))
                .Validation(v => v.MaxFileSize(5 * 1024 * 1024))
                .Multiple(false)
                .Events(e => e
                    .Success("onImageUploadSuccess")
                    .Error("onImageUploadError")
                ))
            <div id="upload-hint">
                You can only upload <strong>JPG</strong>, <strong>JPEG</strong>, <strong>PNG</strong> files.
                Maximum file size is 4MB.
            </div>
        </div>
    }

    <div class="project-info">
        <div>
            <p class="description">@Html.DisplayFor(m => m.Content)</p>
        </div>
        <div>
            @Html.LabelFor(m => m.UserFullName, new { @class = "inline-block" })
            @Html.ActionLink(Model.UserFullName, "Details", "Profile", new { id = Model.UserId }, new { })
        </div>
        <div>
            @Html.LabelFor(m => m.PublishDate, new { @class = "inline-block" })
            @Html.DisplayFor(m => m.PublishDate)
        </div>
    </div>

    <div id="comments">
        @if (Model.Comments != null)
        {
            <h3 class="comments-heading">Comments</h3>
            foreach (var comment in Model.Comments)
            {
                Html.RenderPartial("_CommentPartial", comment);
            }
        }
        else
        {
            <h3 class="comments-heading">No comments</h3>
        }
    </div>

    <div class="add-comment form-horizontal">
        @using (Ajax.BeginForm("Comment", new { id = Model.Id },
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "comments",
                InsertionMode = InsertionMode.InsertAfter,
                OnSuccess = "onSuccess"
            }))
        {
        <div class="form-group">
            <div class="col-md-10">
                <textarea data-val="true" data-val-length="The comment must be at least 5 characters long." data-val-length-max="500" data-val-length-min="5" data-val-required="Type in your comment."
                          class="form-control text-area inline-block" name="commentContent" id="comment-input" placeholder="Add a comment..."></textarea>
                <button class="icon fa-arrow-circle-right inline-block comment-submit"></button>
            </div> <br />
        </div>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        }
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/my-scripts/kendoUploadEvents.js"></script>
    <script src="~/Scripts/my-scripts/ajaxStarEvents.js"></script>
    <script src="~/Scripts/my-scripts/ajaxCommentEvents.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}