@model CarManiacs.WebClient.Models.ProfileDetailsViewModel
@{
    ViewBag.Title = $"{Model.FirstName} {Model.LastName}'s Profile";
}

<div class="container body-content profile">
    <h2 class="inline-block">@ViewBag.Title</h2>
    @if (Model.IsUserAllowedToEdit)
    {
        @Html.ActionLink("Edit", "Edit", "Profile", new { }, new { @class = "button alt" })
    }
    <br />

    <img class="avatar" src="@Model.AvatarUrl" />

    @if (Model.IsUserAllowedToEdit)
    {
        @section Styles {
            <link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.common-nova.min.css" rel="stylesheet" type="text/css" />
            <link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
            <link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
            <link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.nova.min.css" rel="stylesheet" type="text/css" />
            <link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.dataviz.nova.min.css" rel="stylesheet" type="text/css" />
        }
        <script src="https://kendo.cdn.telerik.com/2017.1.223/js/jquery.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.all.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.aspnetmvc.min.js"></script>

        <div class="k-content upload">
            <h4>You can change your profile avatar</h4>
            @(Html.Kendo().Upload()
                .Name("image")
                .Async(a => a
                    .Save("Image", "Upload", new { uploadFor = "avatar" })
                    .AutoUpload(true)
                )
                .Validation(v => v.AllowedExtensions(new string[] { ".jpg", ".jpeg", ".png" }))
                .Validation(v => v.MaxFileSize(5 * 1024 * 1024))
                .Multiple(false)
                .Events(e => e
                    .Success("onImageUploadSuccess")
                    .Error("onImageUploadError")
                ))
            <div id="upload-hint">
                You can only upload <strong>JPG</strong>, <strong>JPEG</strong>, <strong>PNG</strong> files.
                Maximum file size is 4MB.
            </div>
        </div>
    }

    <br />

    <div class="profile-info">
        @if (Model.Age != null)
        {
            <div>
                @Html.LabelFor(m => m.Age, new { @class = "inline-block" })
                @Html.DisplayFor(m => m.Age)
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.CurrentCar))
        {
            <div>
                @Html.LabelFor(m => m.CurrentCar, new { @class = "inline-block" })
                @Html.DisplayFor(m => m.CurrentCar)
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.FavoriteCar))
        {
            <div>
                @Html.LabelFor(m => m.FavoriteCar, new { @class = "inline-block" })
                @Html.DisplayFor(m => m.FavoriteCar)
            </div>
        }
        <div>
            @Html.LabelFor(m => m.CarManiacForDays, new { @class = "inline-block" })
            @Html.DisplayFor(m => m.CarManiacForDays) days
        </div>
        @if (Model.Projects != null)
        {
            <h3>@Model.FirstName @Model.LastName's Projects:</h3>
            foreach (var project in Model.Projects)
            {
                <label class="inline-block">
                    @Html.ActionLink(project.Title, "Details", "Projects", new { id = project.Id }, new { @class = "project-title" })
                </label>
            }
        }
        @if (Model.Stories != null)
        {
            <h3>@Model.FirstName @Model.LastName's Stories:</h3>
            foreach (var story in Model.Stories)
            {
                <label class="inline-block">
                    @Html.ActionLink(story.Title, "Details", "Stories", new { id = story.Id }, new { @class = "project-title" })
                </label>
            }
        }
    </div>

    @if (Model.IsUserAllowedToEdit)
    {
        <hr />
        @Html.ActionLink("Manage account settings", "Index", "Manage")
    }
</div>

@section Scripts {
    <script src="~/Scripts/my-scripts/kendoUploadEvents.js"></script>
}