<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    @if (string.IsNullOrEmpty(ViewBag.Title))
    {
        <title>CarManiacs</title>
    }
    else
    {
        <title>@ViewBag.Title - CarManiacs</title>
    }
    <link href="https://fonts.googleapis.com/css?family=Syncopate:700" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)

	<!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->
	@Scripts.Render("~/bundles/jquery")
</head>
<body>
    <header id="header">
        <div class="inner">
            <img class="logo logo-img" src="~/Content/Images/Logos/logo_header.png" />
            @Html.ActionLink("CarManiacs", "Index", "Home", new { area = "" }, new { @class = "logo" })
            <nav id="nav">
                @Html.ActionLink("Home", "Index", "Home")
                <a href="/#about">About</a>
                <a href="/#contact">Contact</a>
                @Html.ActionLink("Projects", "Index", "Projects")
                @Html.Partial("_LoginPartial")
            </nav>
        </div>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    @RenderBody()
    <footer id="footer">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        </ul>
        <div class="copyright">
            &copy; @DateTime.Now.Year - CarManiacs
        </div>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)
</body>
</html>
